.modal {
    position: fixed;
    z-index: 45;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 30px 14px;
    display: none;
    overflow-y: auto;
    font-size: 18px;
}

.modal__main {
    position: relative;
    max-width: 700px;
    cursor: default;
    background-color: #fff;
    border-radius: 32px;
    margin: auto;
    color: black;
    padding: 20px;
}

.modal__title {
    font-size: 30px;
    margin-bottom: 10px;
}

.modal__container {
    font-size: 18px;
    margin-bottom: 10px;
}

.modal__close {
    background-color: transparent;
    border: none;
    outline: 1px solid transparent;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 20px;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    padding: 0;
    border-radius: 3px;
    display: block;
    width: 30px;
    height: 30px;
}

.modal__close:focus {
    outline-color: green;
}